<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Новини</title>
</head>
<body>
<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>

<ul class="menu">
    <li><a>Каталог товарів</a>
        <ul>
            <li><a th:href="@{/sofas/straight}">Дивани прямі</a></li>
            <li><a th:href="@{/sofas/{corner}}">Дивани кутові</a></li>
            <li><a th:href="@{/sofas/{modular}}">Дивани модульні</a></li>
        </ul>
    </li>
    <li class="number"><a>+38(066) 000 00 00</a>
        <ul>
            <li><a>+38(096) 000 00 00</a></li>
        </ul>
    </li>
</ul>
<div class="margin">
    <div class="photo">
        <hr>
        <hr>
        <div class="lefting">
            <img src="https://blest.ua/local/templates/blest/images/example/img_65.webp" style="width: 500px">
            <h3>Про нас</h3>
            <p>Компанія Blest ™ заснована в 1999 році. З початку своєї діяльності, в основу роботи всієї команди були
                закладені фундаментальні внутрішні цінності, орієнтація на якість у кожній деталі, створення унікального
                дизайну, технологічність і високі стандарти соціальної відповідальності.</p>
            <p>Сьогодні Blest ™ - один з найбільших виробників і один з найпопулярніших брендів м'яких меблів в Україні.
                Лояльність клієнтів і довіра партнерів допомогли нам створити розвинену торговельну мережу, представлену
                більш ніж 150 фірмовими відділами різних форматів в Україні, країнах ЄС, Азії та Канаді, де можна
                підібрати
                і купити диван з широкого модельного ряду.</p><br>
            <hr>
        </div>

        <div class="righting">
            <img src="https://blest.ua/local/templates/blest/images/example/img_66.webp" style="width: 500px">
            <h3>Дизайн-філософія Blest ™</h3>
            <p>Дизайн-філософія Blest ™ грунтується на переконанні, що дизайн - це невід'ємний атрибут якості, що втілює
                гармонійне поєднання форм, функціональності і надійності. Завдяки нашому прагненню створювати популярні,
                надихаючі дизайнерські рішення, ми змогли налагодити співпрацю з авторитетними професіоналами меблевої
                індустрії - італійською дизайн-студією «Lauriero Design» і створили власне конструкторське бюро під
                керівництвом шеф-дизайнера Domenico Larato.</p><br>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <br>
        </div>

        <div class="values">
            <h1>Наші цінності</h1>
            <div class="column-three">
                <figure>
                    <img src="https://blest.ua/local/templates/blest/images/worth/img_1.svg">
                    <figcaption>
                        <h3>Екологічність та безпека</h3>
                        При створенні м'яких меблів Blast ™ використовуються екологічні технології виробництва, упаковки
                        та
                        зберігання м'яких меблів. Матеріали і комплектуючі, які застосовуються в процесі виробництва
                        проходять всі необхідні перевірки на екологічність і безпеку для здоров'я.
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/local/templates/blest/images/worth/img_2.svg">
                    <figcaption>
                        <h3>Міжнародні стандарти</h3>
                        При виробництві м'яких меблів Blast ™ використовуються екологічні технології виробництва із
                        застосуванням сучасного обладнання та висококваліфікованої ручної праці. Упаковка, зберігання і
                        доставка
                        м'яких меблів проводиться відповідно до європейських стандартів і санітарних вимог. Матеріали і
                        комплектуючі, які застосовуються в процесі виробництва, виготовляються з екологічно чистої
                        сировини.
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/local/templates/blest/images/worth/img_3.svg">
                    <figcaption>
                        <h3>Один з найбільших виробників в Україні</h3>
                        Наші меблі реалізується в усіх обласних центрах України. М'які меблі Blest ™ також експортується
                        в
                        Європу, Азію і Канаду. Вся продукція представлена в п'яти лінійках: Blest, Blest Smart, Blest
                        Individual, Blest Kids і Praktica Sofa. За роки роботи компанії, нашими технологами було
                        створено
                        понад
                        триста унікальних моделей м'яких меблів.
                    </figcaption>
                </figure>
            </div>
            <div class="column-three">
                <figure>
                    <img src="https://blest.ua/local/templates/blest/images/worth/img_4.svg">
                    <figcaption>
                        <h3>Клієнтоорієнтованість</h3>
                        Прагнення і вміння не тільки задовольнити потреби клієнтів, а й перевершити їх очікування. Ми
                        працюємо
                        на результат і намагаємося перевершити очікування найбільш вибагливого клієнта.
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/local/templates/blest/images/worth/img_5.svg">
                    <figcaption>
                        <h3>Професіоналізм</h3>
                        Майстерність, досвід і знання співробітників Blest ™, які дозволяють створювати якісний продукт
                        і
                        забезпечують високий рівень сервісу. Ми висуваємо високі вимоги до себе і дотримуємося високих
                        стандартів у всіх напрямках діяльності компанії.
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/local/templates/blest/images/worth/img_6.svg">
                    <figcaption>
                        <h3>Ініціатива та інновації</h3>
                        Ми з готовністю беремося за складні завдання, сприймаємо їх, як виклик і можливість розвитку.
                        Прагнемо
                        бути лідерами в своєму сегменті. Ми невпинно працюємо над поліпшенням і індивідуалізацією нашого
                        продукту, а також над важливими в нашій роботі інноваціями.
                    </figcaption>
                </figure>
            </div>
        </div>
        <hr>

        <div style="text-align: center">
            <hr>
            <h1>BLEST —</h1>
            <h3>№1 український виробник меблів з італійським акцентом</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q7onpeqDAxQ"
                    title="Individual - українські меблі з італійським акцентом" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <hr>
            <hr>
        </div>

        <div class="history-company">
            <div class="text-center">
                <h3>Історія компанії</h3>
                <div class="scroll-booster">
                    <nav class="list-group">
                        <a href="#tab_1"><span class="title">1999</span></a>
                        <a href="#tab_2"><span class="title">2003</span></a>
                        <a href="#tab_3"><span class="title">2005</span></a>
                        <a href="#tab_4"><span class="title">2008-2009</span></a>
                        <a href="#tab_5"><span class="title">2010</span></a>
                        <a href="#tab_6"><span class="title">2014</span></a>
                        <a href="#tab_7"><span class="title">2015</span></a>
                        <a href="#tab_8"><span class="title">2016</span></a>
                        <a href="#tab_9"><span class="title">2017</span></a>
                        <a href="#tab_10"><span class="title">2018</span></a>
                        <a href="#tab_11"><span class="title">2020</span></a>
                    </nav>
                </div>
                <hr>
                <div class="tab-content container">
                    <div class="tab-pane" id="tab_1">
                        <h3>Дата заснування компанії BLEST</h3>
                        <p>
                            Історія компанії Blest ™ починається в 1999 році, з невеликого цеху в Черкасах. У ньому
                            вироблялося, в буквальному сенсі, пара комплектів м'яких меблів в день. В той момент
                            підприємство називалося «М'який елемент». Засновником виробництва був Ковтун Павло
                            Михайлович. Першим комплектом виробленої м'яких меблів став диван і крісло «Рома». Вся
                            продукція випускалася під торговою маркою «М'який елемент». У 2000 році чисельність
                            колективу фабрики становила вже понад 20 осіб. Модельний ряд збільшився, а найголовніше -
                            з'явилися перші Клієнти, які гідно оцінили високу якість м'яких меблів.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <h3>Відкриття першого фірмового відділу</h3>
                        <p>
                            1 квітня 2003 року в м Київ був відкритий перший фірмовий відділ в ТЦ Метроград. З цього
                            фірмового відділу і почалася історія розвитку київського підрозділу і керуючої компанії.
                        </p>
                        <p>
                            Постійний пошук нових ідей в області дизайну і підвищення характеристик комфорту продукції
                            призвів до заснування нової торгової марки Blest ™ (англ. - благословенний, щаcливий).
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <h3>Популярність на ринку м'яких меблів України</h3>
                        <p>
                            Blest ™ стала відома на ринку м'яких меблів України в 2005 році, зарекомендувавши себе як
                            виробник надійних, комфортних і сучасних меблів для житлових і загальних приміщень.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_4">
                        <h3>Реорганізація і нові стандарти</h3>
                        <p>
                            C 2008 року компанія Blest ™ керує Савченко Сергій Олексійович.
                        </p>
                        <p>
                            З метою підвищення впізнаваності бренду, а головне - для поліпшення якості обслуговування
                            покупців - в 2009 році Компанія Blest ™ провела активну політику щодо запровадження
                            Корпоративних Стандартів. Робота велася за двома напрямками: візуальне оформлення фірмових
                            відділів, згідно з Корпоративним Стандартом і впровадження Стандартів обслуговування
                            Покупців. Фірмові відділи, які повністю відповідають розробленим компанією Стандартам, були
                            сертифіковані в торговому залі, де Покупець міг бачити знак: «Сертифікований фірмовий
                            відділ».
                        </p>
                        <p>
                            Наявність сертифіката відповідності Стандартам говорить Покупцеві про те, що в магазині
                            представлений оригінальний товар, що консультацію проводить високопрофесійний продавець, що
                            пройшов комплексне навчання.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_5">
                        <h3>Залучення італійських партнерів до розробки меблів</h3>
                        <p>
                            Починаючи з липня 2010 року, всі нові моделі Компанії Blest ™ розробляються спільно з
                            італійським дизайнером Кончеттою Лауріеро, головою дизайн-студії LAURIERO DESIGN в Мілані.
                        </p>
                        <p>
                            У 2010 році наша Компанія залучила до співпраці Доменіко Ларато, консультанта з технології і
                            дизайну. Він володіє більше ніж 35-річним досвідом у виробництві м'яких меблів і знаннями
                            міжнародного меблевого ринку. На поточний момент, Доменіко Ларато є шеф-дизайнером Blest ™.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_6">
                        <h3>Запуск нової коллекції Unison</h3>
                        <p>
                            У 2014 році Компанія Blest запустила нову продуктову колекцію Unison. Це колекція м'яких
                            інтер'єрних ліжок Blest ™. Інтер'єрне ліжко - це чудовий спосіб зробити свою спальню
                            красивою і затишною, це вибір справжніх поціновувачів комфорту і тепла.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_7">
                        <h3>Запуск нової коллекції Tradition</h3>
                        <p>
                            Восени 2015 року, Компанія Blest запустила нову лінійку меблів Tradition. Колекція Tradition
                            втілює виключно високі стандарти якості, продуманість кожного елемента, любов до комфорту -
                            все те, що необхідно для створення сімейного затишку на довгі роки. Дизайн моделей - це
                            сучасна інтерпретація класичного стилю, який завжди буде гармоніювати з різними інтер'єрними
                            рішеннями.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_8">
                        <h3>Запуск нової лінійки меблів Praktica Sofa</h3>
                        <p>
                            У 2016 році, Компанія Blest запустила нову лінійку м'яких меблів під назву Praktica Sofa™.
                            Модельний ряд Praktica Sofa – це дивани і пуфи високого рівня якості для відпочинку і сну.
                            Ліжка для щоденного сну, в сучасному і класичному стилі за мінімально можливу ціну. Дизайн
                            актуальний, прагматичний, раціональний. Приємні, сучасні м'які меблі, які підкуповують своєю
                            доступною вартістю і високою практичністю.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_9">
                        <h3>Запуск мануфактоурного виробництва і нової колекції меблів Individual</h3>
                        <p>
                            З 2017 року компанія Blest розширила свій асортимент і вивела на ринок унікальну лінійку
                            диванів, які створені для того, щоб змінити розуміння традиційного відпочинку і комфорту.
                        </p>
                        <p>
                            Мануфактурне (ручне) виробництво, увага до деталей, досвід кращих фахівців меблевого ринку
                            і, найголовніше, бажання задовольнити потребу навіть найвибагливішого покупця - все це про
                            лінійку меблів Individual by Blest.
                        </p>
                        <p>
                            Individual by Blest - це меблі в стилі «Smart Luxury». У дослівному перекладі це означає
                            «розумна розкіш». З цим важко не погодитися, адже кожна модель продумана до дрібниць: від
                            зовнішнього вигляду до досягнення максимального комфорту і високої якості.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_10">
                        <h3>Запуск нової колекції м'яких меблів для дітей Blest Kids</h3>
                        <p>
                            З 2018 року компанія Blest запустила нову колекцію для найменших своїх клієнтів - Blest
                            Kids™. Дитяча кімната для дитини - це його чарівний світ, де він грає, мріє, розвивається,
                            приймає гостей ... І дуже важливо, щоб цей «чарівний світ» був яскравим, барвистим,
                            комфортним і безпечним.
                        </p>
                        <p>
                            Саме тому, створюючи м'які меблі для дітей, фахівці компанії Blest врахували всі необхідні
                            моменти, щоб вироби приносили виняткове задоволення маленьким власникам. Особливості
                            дитячого організму, анатомічна форма окремих елементів, м'якість і безпека виробів,
                            неймовірно красивий дизайн ... Все це про Blest kids ™.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_11">
                        <h3>Участь у міжнародній виставці меблів KIFF 2020</h3>
                        <p>
                            У 2020 році Компанія взяла участь в KIFF / КММФ - Kiev International Furniture Forum. І саме
                            з цієї виставки стартувала нова ера в дизайні та функціональності на українському меблевому
                            ринку.
                        </p>
                        <p>
                            Blest дуже пишається результатами. Наші новинки сподобалися публіці. Ми обіцяли початок
                            нової ери на українському ринку - ми слово стримали. Підтвердженням правильності нашого
                            шляху стала головна нагорода конкурсу BEST MEBEL UA. Ми пишаємося нашим шеф-дизайнером
                            Доменіко Ларато, який отримав нагороду від журі конкурсу за неперевершений дизайн меблів.
                        </p>
                        <p>
                            І найціннішими для нас нагородами стали 2 дипломи за якість продукції. Це визнання - дорога,
                            яка проходить через всю більш ніж 20-річну історію компанії Blest. Ми суттєво оновили дизайн
                            наших моделей. Ми по новому підійшли до питання функціональності. Ми створили меблі, які з
                            виставки роз'їхалася по всій Україні в будинки своїх нових господарів. Ми це зробили з
                            любов'ю!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
    </div>
</div>
<div class="end">
    <b>Інтернет-магазин меблів «Blest» © 2023</b>
</div>
</body>
</html>