<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>
<div class="margin">
    <ul class="menu">
        <li><a>Каталог товарів</a>
            <ul>
                <li><a th:href="@{/sofas/straight}">Дивани прямі</a></li>
                <li><a th:href="@{/sofas/{corner}}">Дивани кутові</a></li>
                <li><a th:href="@{/sofas/{modular}}">Дивани модульні</a></li>
            </ul>
        </li>
        <li class="number"><a>+38(066) 000 00 00</a>
            <ul>
                <li><a>+38(096) 000 00 00</a></li>
            </ul>
        </li>
    </ul>

    <div class="news">
        <img src="https://blest.ua/upload/iblock/a77/fba4kfgivkgt162ut8qm3nj1rpmf34jo.webp">
        <article>
            <hr>
            <h3>Про фонд All4Ukraine</h3>
            <hr>
            <p>Дорогі громадяни! Компанія, реалізовуючи свою соціальну місію, проводить Акцію на підтримку Збройних Сил
                України, виділяючи 5% з продажів на потреби війська.</p>
            <p>Власником компанії, Сергієм Савченко, було організовано благодійний волонтерський фонд All4Ukraine. З
                початку повномасштабного вторгнення, фондом вже передано на потреби армії понад 40 автомобілів: пікапів,
                джипів та реанімобілів; десятки тепловізорів, засобів зв'язку, оптичних приладів, дронів та іншого
                устаткування.</p>
            <p>«З 14-го року по 16-ий я активно займався волонтерством в благодійному фонді «Повернись живим». Ми з
                Віталієм Дейнегою пройшли певний шлях, бували в АТО, мабуть, разів 15, передаючи волонтерську допомогу.
                З тих пір, у мене залишилося багато друзів військових та великий досвід, що, як і де можна придбати, і
                як це доставити на передову.</p>
            <p>На початку повномасштабної війни я вивіз родину у Словаччину, і тут мені подзвонив мій кум, він став
                комбатом одного з новостворених батальйонів, і каже: «У мене є наказ на створення нового батальйону, є
                400 мобілізованих і більше немає нічого. Взагалі!» І попросив допомогти.</p>
            <p>Після цього дзвінка, довелося дуже швидко згадувати навики. Коли великій кількості людей потрібно все і
                зразу, то ти просто починаєш скуповувати все, що можеш дістати, і що може знадобитися. Перше – це купив
                два пікапи. В будівельному магазині забив їх повністю тим, що може знадобитися для облаштувань позицій:
                лопати, сокири, генератори… Потім заїхали у військовий магазин і купували амуніцію, приціли,
                тепловізори… все, що було.</p>
            <p>Згодом, я зрозумів, що мене одного замало. Я знайшов свідомих патріотів тут у Братиславі, в Польщі,
                Ужгороді, і в Києві. Так утворилася група людей, об’єднання, яке ми потім назвали All4Ukraine», -
                розповідає Сергій Савченко, власник компанії.</p>
            <hr>
        </article>
    </div>
</div>
<div class="end">
    <b>Інтернет-магазин меблів «Blest» © 2023</b>
</div>
</body>
</html>