<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Новини</title>
</head>
<body>
<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>
<div class="margin">
    <ul class="menu">
        <li><a>Каталог товарів</a>
            <ul>
                <li><a th:href="@{/sofas/прямі}">Дивани прямі</a></li>
                <li><a th:href="@{/sofas/кутові}">Дивани кутові</a></li>
                <li><a th:href="@{/sofas/модульні}">Дивани модульні</a></li>
            </ul>
        </li>
        <li class="number"><a>+38(066) 000 00 00</a>
            <ul>
                <li><a>+38(096) 000 00 00</a></li>
            </ul>
        </li>
        <li th:if="${user == null}" class="white"><a href="/login">Увійти в кабінет</a></li>
        <li th:if="${user != null}" class="white"><a th:href="@{/logout}">Вийти з облікового запису</a></li>
    </ul>

    <div class="news">
        <img src="https://blest.ua/upload/iblock/603/act41v6cjdz5bmwxeb2ronvhqziahpew.webp">
        <article>
            <hr>
            <h3>Вітаємо зі світлим святом Різдва Христового</h3>
            <hr>
            <p>Вітаємо зі світлим святом Різдва Христового! Святом, що зміцнює в серцях віру, надихає на добрі справи та
                милосердя.</p>
            <p>Вдячні нашим захисникам, які зараз далеко від своїх домівок і рідних та бажаємо скорішого повернення з
                перемогою!</p>
            <p>Бажаємо усім тепла та затишку, Божого благословення, миру та любові!</p>
            <p>Христос рождається! Славімо Його!</p>
            <hr>
        </article>
    </div>
</div>
<footer class="end">
    <span><b>Інтернет-магазин меблів «Blest» © 2023</b></span>
</footer>
</body>
</html>