<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>

<ul class="menu">
    <li><a>Каталог товарів</a>
        <ul>
            <li><a th:href="@{/sofas/прямі}">Дивани прямі</a></li>
            <li><a th:href="@{/sofas/кутові}">Дивани кутові</a></li>
            <li><a th:href="@{/sofas/модульні}">Дивани модульні</a></li>
        </ul>
    </li>
    <li class="number"><a>+38(066) 000 00 00</a>
        <ul>
            <li><a>+38(096) 000 00 00</a></li>
        </ul>
    </li>
</ul>

<div>
    <div>
        <hr>
        <hr>
        <details class="detail">
            <summary><h3><b>Якість і комплектність товару</b></h3></summary>
            <div class="details">
                <p>Якість, комплектність товару повинні відповідати зразкам, представленим в салоні або каталогам, щодо
                    яких складається замовлення, і нормам чинного законодавства.</p>
                <p>Кожне готовий виріб супроводжується паспортом виробу.</p>
            </div>
        </details>
        <hr>
        <hr>
        <details class="detail">
            <br>
            <summary><h3><b>Гарантійний срок</b></h3></summary>
            <div class="details">
                <p>На м'які меблі виробником визначені наступні терміни гарантійних зобов'язань:</p>
                <ul>
                    <li>18 місяців на м'які меблі, експлуатований в житлових приміщеннях;</li>
                    <li>12 місяців на м'які меблі, які експлуатуються в приміщеннях громадського користування.</li>
                </ul>
                <p>Виробник гарантує експлуатацію своїх виробів протягом усього гарантійного терміну. Умови гарантійного
                    обслуговування детально викладені в Паспорті виробу, яким комплектується куплений виріб.</p>
            </div>
        </details>
        <hr>
        <hr>
        <details class="detail">
            <summary><h3><b>Обмін і повернення товару</b></h3></summary>
            <div class="details">
                <p>Відповідно до ст. 9 Закону України "Про захист прав споживачів", споживач має право обміняти або
                    зробити повернення придбаного товару протягом 14 днів після купівлі за виконання наступних умов:</p>
                <ul>
                    <li>Обміну або поверненню підлягає тільки новий товар, який не був у вжитку і не має слідів
                        використання: подряпин, сколів, потертостей та інших пошкоджень.
                    </li>
                    <li>Товар не збирався і не монтувався, а також збережено його товарний вигляд.</li>
                    <li>Збережена цілісність упаковки товару і вся його комплектація.</li>
                    <li>Збережені ярлики, інструкції та виробничі маркування.</li>
                    <li>Надано товарний чек, специфікація і / або накладна, квитанція про оплату, що підтверджують факт
                        купівлі товару в нашому інтернет-магазині. Для повернення коштів споживач повинен мати при собі
                        і повернути продавцеві: придбаний товар, чек, накладну, договір, бланк замовлення.
                    </li>
                </ul>
            </div>
        </details>
        <hr>
        <hr>
        <details class="detail">
            <summary><h3><b>Які товари не можливо повернути</b></h3></summary>
            <div class="details">
                <p>Поверненню не підлягають: уцінені товари, зібрані або пошкоджені після покупки товари, матраци (без
                    упаковки / с порушеною упаковкою або вживані), товари, які виготовлялися або привозилися під
                    індивідуальне замовлення.</p>
                <p>Увага! Якщо товар індивідуальний, виготовлений під індивідуальні розміри і / або в певній оббивці,
                    яка була обрана замовником, то даний виріб належить до переліку товарів доповнення №3 постанови
                    Кабінету Міністрів України від 19.03.1994 №172 (Перелік товарів належної якості, що не підлягають
                    обміну ( поверненню).</p>
            </div>
        </details>
        <hr>
        <hr>
    </div>
    <div class="guarantee">
        <h3><b>Підтверджена якість</b></h3>
        <p>Спираючись на багаторічний досвід, команду професіоналів і креативних дизайнерів, на зобов'язання перед тими, хто віддав перевагу нашим диванам, ми не зупиняємося на досягнутому і втілюємо провідні світові технології виробництва м'яких меблів в якісні та стильні вироби.</p>
        <img src="https://blest.ua/local/templates/blest/images/quality/img_1.webp" width="200">
        <img src="https://blest.ua/local/templates/blest/images/quality/img_2.webp" width="200">
        <img src="https://blest.ua/local/templates/blest/images/quality/img_3.webp" width="200">
        <img src="https://blest.ua/local/templates/blest/images/quality/img_4.webp" width="200">
        <img src="https://blest.ua/local/templates/blest/images/quality/img_5.webp" width="200">
        <img src="https://blest.ua/local/templates/blest/images/quality/img_6.webp" width="200">
    </div>
    <hr>
    <hr>
</div>
<footer class="end">
    <span><b>Інтернет-магазин меблів «Blest» © 2023</b></span>
</footer>
</body>
</html>