<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>BLEST</title>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</head>
`
<body>
<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>

<div class="margin">
    <ul class="menu">
        <li><a>Каталог товарів</a>
            <ul>
                <li><a th:href="@{/sofas/{straight}}">Дивани прямі</a></li>
                <li><a th:href="@{/sofas/{corner}}">Дивани кутові</a></li>
                <li><a th:href="@{/sofas/{modular}}">Дивани модульні</a></li>
            </ul>
        </li>
        <li class="number"><a>+38(066) 000 00 00</a>
            <ul>
                <li><a>+38(096) 000 00 00</a></li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <div class="background-image">
        <hr>
        <img src="https://pufetto.s3.amazonaws.com/interior/d.sofia.jpg" width="100%">
        <b class="top-right">Blest Home - це втілення Ваших сімейних традицій в диванах, ліжках і кріслах для будинку.
            <br>
            За кожною моделлю, тканиною, швом і лінією Blast Home стоїть ретельний відбір матеріалів і стилю, <br>
            заснований на досвіді та професіоналізмі наших майстрів, накопичених за довгі роки.</b>
    </div>
    <br>
    <hr>
    <hr>
    <div class="margin">
        <div>
            <br>
            <h1 style="text-align: center">Дизайн</h1>
            <hr>
            <div class="img-line">
                <figure>
                    <img src="https://blest.ua/upload/iblock/7c4/7c4ca8a5ccd2b0f610bd4616cedb476c.webp">
                    <figcaption>Дизайн меблів розроблений шеф-дизайнером Доменіко Лорато</figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/upload/iblock/54d/54d9f4ecf667826bb9bbae3dc734d5ad.webp">
                    <figcaption>Найкращі тренди дизайну м’яких меблів</figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/upload/iblock/d99/d9944e6138b57178851e5e0055f8ecb0.webp">
                    <figcaption>Великий вибір оббивок - більше ніж 15 категорій тканин</figcaption>
                </figure>
                <figure>
                    <img src="https://blest.ua/upload/iblock/e6c/e6c4d4f3b4d30415a4d89faadd3f58de.webp">
                    <figcaption>Унікальні дизайнерські рішення</figcaption>
                </figure>
            </div>
            <hr>
            <hr>
            <br>
        </div>

        <div>
            <!-- Slideshow container -->
            <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="two-column">
                        <figure>
                            <a href="/christmas"><img
                                    src="https://blest.ua/upload/iblock/603/act41v6cjdz5bmwxeb2ronvhqziahpew.webp"
                                    style="width: 650px; height: 500px"></a>
                            <figcaption><a href="/christmas"><h3>Вітаємо зі світлим святом Різдва Христового</h3></a>
                            </figcaption>
                        </figure>
                        <figure>
                            <a href="/all4Ukraine"><img
                                    src="https://blest.ua/upload/iblock/fc6/wuohfqob2qp877ykcoafstsmdjxm7jo0.webp"
                                    style="width: 650px; height: 500px"></a>
                            <figcaption><a href="/all4Ukraine"><h3>Про фонд All4Ukraine</h3></a></figcaption>
                        </figure>
                    </div>
                </div>

                <div class="mySlides fade">
                    <div class="two-column">
                        <div class="mySlides-none">
                            <figure>
                                <a href="/razom-do-peremogi"><img
                                        src="https://blest.ua/upload/iblock/ff9/j6rf1gqx3uvd2k5287w8nq8tkjoz0jle.webp"
                                        style="width: 650px; height: 500px"></a>
                                <figcaption><a href="/razom-do-peremogi"><h3>Разом до перемоги</h3></a></figcaption>
                            </figure>
                            <figure>
                                <a href="/vidnovlyumo-robotu"><img
                                        src="https://blest.ua/upload/iblock/f40/gtuu2quvnww0il2n9n5zkb7gmwilshot.webp"
                                        style="width: 650px; height: 500px"></a>
                                <figcaption><a href="/vidnovlyumo-robotu"><h3>Відновлюємо роботу</h3></a></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </div>
        <hr>
        <hr>
        <div class="info">
            <div class="save-number" style="float: left">
                <form action="saveNumber" method="post">
                    <b>Залиште свій телефон і наш менеджер зв’яжеться з вами</b>
                    <div>У нас завжди є що вам запропонувати. <br> Напишіть свій номер телефону і ми зробимо вам
                        унікальну
                        пропозицію
                    </div>
                    <br>
                    <input type="tel" name="number" placeholder="Ваш телефон"/>
                    <input type="submit" name="submit_button" value="Зв'язатись"><br>
                </form>
            </div>

            <div class="let's-be-friends" style="float: right">
                <b>Давай дружити</b><br>
                <a href="https://www.youtube.com/channel/UCplghq0e9Wuu6tnazQL9bxg"><img
                        src="https://blest.ua/upload/iblock/5c5/5c58890c9148da68a69201b6d1a8d411.webp"></a>
                <a href="https://www.instagram.com/blest_ukraine/"><img
                        src="https://blest.ua/upload/iblock/9c5/9c50285ecc000301fc700e3b3bde5dba.webp"></a>
                <a href="https://www.facebook.com/BlestUA"><img
                        src="https://blest.ua/upload/iblock/586/5867ef66b431bbc5e3238af1903a47e0.webp"></a><br>
            </div>
        </div>

        <br>
        <hr>
        <hr>
        <div class="show-all">
            <h1>Меблі Blest: поєднання стилю, комфорту і якості</h1>
            <p>
                Меблі в будинку - саме той показник, який буде відображати стиль господарів, їх ставлення до життя і
                комфорту. З
                самого початку предмети меблів виготовлялися з простих матеріалів, виходячи виключно з позиції
                функціональності
                -
                щоб розкласти все по місцях і підтримувати в будинку порядок. Зараз меблі виготовляють з якісних
                матеріалів,
                до
                того
                ж, можна вибрати дійсно хороші гарнітури, які зроблять ваш будинок більш затишним і красивим. У наш час
                придбати
                якісні предмети інтер'єру можна як в магазині, так і через мережу інтернет. Звичайно, багато людей
                вважають
                за
                краще
                перший варіант, але і другий заслуговує на увагу.
            </p>
            <hr>
            <h2>Купуємо меблі в інтернеті вигідно й без зайвої метушні</h2>
            <p>
                Інтернет-магазин меблів Київ BlestТМ пропонує безліч переваг купівлі якісних меблів саме в мережі
                Інтернет:
            </p>
            <ul>
                <li>Економія часу. Більше не треба витрачати гроші на проїзд і виділяти цілий день на те, щоб побувати в
                    декількох
                    магазинах свого міста з метою знайти ідеальне рішення.
                </li>
                <li>Великий вибір меблів, форм, моделей. Ви можете вибрати меблі, які підійдуть вашому інтер'єру,
                    додадуть
                    йому
                    краси і дозволять організувати простір.
                </li>
                <li>Доступні ціни. Вартість товарів вас здивує, адже в інтернеті немає націнок за оренду приміщення, яку
                    виставляють
                    звичайні магазини.
                </li>
                <li>Можливість вибрати зручний спосіб доставки. Ви можете самостійно забрати меблі зі складу або
                    замовити
                    автомобіль
                    і скористатися послугою фахівців для їх збору.
                </li>
                <li>Постійні знижки та акційні пропозиції. Якщо замовляти товари в одному інтернет-магазині, ви можете
                    отримувати
                    знижку на кожен наступний товар. Економія ніколи не буде зайвою.
                </li>
            </ul>
            <p>
                Купити меблі в інтернет-магазині - значить скористатися зручностями сучасного світу і вибирати не
                поспішаючи
                і з
                комфортом. І якщо ви вирішили скористатися послугами всесвітньої мережі, то обов'язково відвідайте наш
                сайт
                і
                переконайтеся, що вибирати і купувати в такий спосіб набагато приємніше.
            </p>
            <hr>
            <h2>Переваги замовлення меблів в BlestТМ</h2>
            <p>
                Наша компанія - лідер на ринку виробництва та збуту предметів меблів для будь-якого виду приміщення. У
                каталозі
                кожен зможе вибрати і купити чудові меблі різного призначення - починаючи від офісу і закінчуючи
                дитячими
                кімнатами.
                Якщо вам важко визначитися зі стилем, формою і розміром - наші співробітники з радістю допоможуть
                підібрати
                оптимальний варіант, який ідеально впишеться в інтер'єр будинку і стане його родзинкою. Оплатити покупку
                можна
                будь-яким зручним для клієнта способом (платіжна карта, готівка, перерахунок та ін.).
            </p>
            <p>
                Доставка замовлення здійснюється по всій території країни в найкоротші терміни. Якщо у покупця є
                можливість,
                він
                може самостійно забрати меблі зі складу магазину в Києві, заощадивши при цьому на доставці. Компанія
                завжди
                намагається йти в ногу з часом і враховує смаки та вподобання сучасних споживачів. Тому в нашому
                каталозі ви
                зможете
                побачити оригінальні, стильні і функціональні предмети меблів. Ми - саме той виробник, який робить
                меблі,
                які
                відрізняються високим рівнем практичності, комфорту і зносостійкості. Blest меблі - ваш шанс підвищити
                привабливість
                приміщень і додати в інтер'єр потрібну функціональність.
            </p>
            <hr>
            <h2>Особливості покупки: на що звертати увагу</h2>
            <p>
                На сьогоднішній день існує безліч пропозицій, і дефіциту в асортименті меблів просто немає. Але вибрати
                варіант,
                який буде влаштовувати по співвідношенню ціни і якості не так просто. Перш за все, потрібно вибрати
                дійсно
                хороший
                інтернет-магазин, який працює не перший рік, роблячи все, щоб клієнти залишалися задоволені придбаннями.
                Саме
                таким
                є BlestТМ. Щоб куплена річ тішила око і прослужила довгі роки, фахівці нашого магазину рекомендують під
                час
                вибору
                меблів звертати увагу не тільки на широкий асортимент, а й на наступні аспекти:
            </p>
            <ol>
                <li>Матеріал, зовнішнє покриття і наповнювачі. Чим міцніше і якісніше матеріал, тим довше прослужить
                    виріб.
                    Важливо
                    пам'ятати, що синтетичні матеріали можуть містити токсичні речовини, що викликають алергічні
                    реакції.
                </li>
                <li>Цінова політика. Натуральна цільна деревина в будь-якому випадку буде коштувати дорожче ніж ДСП,
                    МДФ,
                    метал
                    та
                    ін. Але сучасні стилі в інтер'єрі дозволяють використовувати навіть вироби зі спеціального пластика.
                </li>
                <li>З огляду на мету покупки і її функціонал, необхідно звертати увагу на тип конструкції (це стосується
                    диванів,
                    тумбочок, робочих столів і т. ін.).
                </li>
                <li>Вибираючи, диван у вітальню або інші предмети, важливо не забувати про такі параметри як розмір і
                    відповідна
                    форма. Адже приміщення бувають не тільки прямокутні, все частіше їх роблять овальними або круглими,
                    непропорційними і, відповідно, меблі повинні органічно вписуватися в загальний ансамбль. Що
                    стосується
                    розміру
                    моделі, то вироби не повинні захаращувати простір, але і не виглядати мініатюрно у великому
                    приміщенні.
                </li>
                <li>Колір і дизайн. Предмети інтер'єру повинні «тішили око», дарувати приємні емоції і відчуття затишку.
                    Особливо це
                    важливо при виборі дитячих меблів. Колірна гамма не повинна бути занадто яскравою і строкатою, щоб
                    не
                    викликати
                    почуття роздратування і втоми.
                </li>
                <li>Вид і матеріал кріплення. Конструкції якісних меблів не можуть з'єднуватися між собою за допомогою
                    дешевих
                    елементів.
                </li>
            </ol>
            <p>
                Після того, як ви зверніть увагу на асортимент, ідеальним рішенням буде вивчити всі представлені товари,
                а
                потім
                вибрати з каталогу той, який підходить за всіма параметрами. Саме тоді ви отримаєте ідеальний варіант,
                який
                буде
                мати органічний вигляд в приміщенні, виконувати необхідні функції і не втрачати привабливого зовнішнього
                вигляду
                довгий час. Вибираючи меблі оnline від BlestТМ, ви, в першу чергу, отримуєте надійність, якість і
                оригінальність
                дизайнерських рішень.
            </p>
        </div>
    </div>

</div>
<div class="end">
    <b>Інтернет-магазин меблів «Blest» © 2023</b>
</div>
</body>
</html>
