<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css"/>
  <meta charset="UTF-8">
  <title>BLAST</title>
</head>
<body>
<header class="main-menu">
  <nav>
    <a href="/about">|| Про нас ||</a>
    <a href="/contacts"> Контакти ||</a>
    <a href="/payment-and-delivery"> Оплата та доставка ||</a>
    <a href="/guarantees"> Гарантії ||</a>
  </nav>
</header>


<ul class="menu">
  <li><a>Каталог товарів</a>
    <ul>
      <li><a th:href="@{/sofas/straight}">Дивани прямі</a></li>
      <li><a th:href="@{/sofas/{corner}}">Дивани кутові</a></li>
      <li><a th:href="@{/sofas/{modular}}">Дивани модульні</a></li>
    </ul>
  </li>
  <li class="number"><a>+38(066) 000 00 00</a>
    <ul>
      <li><a>+38(096) 000 00 00</a></li>
    </ul>
  </li>
</ul>

<div class="margin">

</div>
<div class="end">
  <b>Інтернет-магазин меблів «Blest» © 2023</b>
</div>
</body>
</html>