<!DOCTYPE html>
<html lang="ua">
<head>
  <link rel="stylesheet" href="style.css"/>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h3>Створити новий товар</h3>
<form action="/my-sofa" method="post" enctype="multipart/form-data">
  Назва товару: <input type="text" name="name"/><br><br>
  Тип: <input type="text" name="type"/><br><br>
  Ціна: <input type="number" name="price"/><br><br>
  Валюта: <input type="text" name="currency"/><br><br>
  Опис: <input type="text" name="description"/><br><br>
  Перше фото: <input type="file" accept="image/png" name="file1"/><br><br>
  Друге фото: <input type="file" accept="image/png" name="file2"/><br><br>
  Третє фото: <input type="file" accept="image/png" name="file3"/><br><br>
  Відео URL: <input type="text" name="video"/><br><br>
  <input type="submit" value="Додати товар">
</form>
<footer class="end">
  <span><b>Інтернет-магазин меблів «Blest» © 2023</b></span>
</footer>
</body>
</html>