<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>

<ul class="menu">
    <li><a>Каталог товарів</a>
        <ul>
            <li><a th:href="@{/sofas/прямі}">Дивани прямі</a></li>
            <li><a th:href="@{/sofas/кутові}">Дивани кутові</a></li>
            <li><a th:href="@{/sofas/модульні}">Дивани модульні</a></li>
        </ul>
    </li>
    <li class="number"><a>+38(066) 000 00 00</a>
        <ul>
            <li><a>+38(096) 000 00 00</a></li>
        </ul>
    </li>
    <li th:if="${user == null}" class="white"><a href="/login">Увійти в кабінет</a></li>
    <li th:if="${user != null}" class="white"><a th:href="@{/logout}">Вийти з облікового запису</a></li>
</ul>

<div class="payment">
    <hr>
    <hr>

    <img src="https://blest.ua/upload/two-removal-company-workers-unloading-sofa.webp" width="100%">
    <div class="margin">
        <h3>Оплата та доставка</h3>
        <hr>
        <hr>
        <h3>Умови оплати</h3>
        <p>Розрахунок здійснюється в готівковий або безготівковий спосіб.</p>
        <hr>
        <hr>
        <h3>Умови доставки в м. Київ</h3>
        <div>
            <p>Доставка товару Покупцю відбувається за додаткову оплату, що складається із наступних сум:</p>
            <ul>
                <li> вартість доставки по місту Києву Товару та повторний виїзд доставки чи служби із збірки-монтажу – становить 750 грн., доставка за межу міста Києва становить 750 грн. та додатково 35 грн. за кожен додатковий км за межами міста Києва від КПП.</li>
            </ul>
        </div>

        <div>
            <hr>
            <hr>
            <b>ТМ Блест:</b>
            <ul>
                <li>вартість збірки-монтажу виробу: прямий диван – 200 грн, кутовий диван та модульний диван – 250 грн., ліжко – 300 грн;</li>
                <li>підйом меблів (окрім матрасів) через балкон або вікно, якщо це можливо - 1 поверх - 200 грн., 2 поверх - 300 грн;</li>
                <li>у випадку не можливості під’їзду вантажного транспорту до вхідних дверей будинку, додатково оплачується ручний занос по прибудинковій території до під’їзду за погодженням із монтажною бригадою під час збірки-монтажу Товару;</li>
                <li>занесення/знесення Товару за умови наявності справного вантажного ліфту у будинку – за виріб вцілому: прямий диван – 100 грн, кутовий диван із секцією Алігатор – 125 грн., кутовий диван – 150 грн., П-образний диван – 200 грн., пуф, крісло-пуф – 50 грн., крісло – 75 грн., стіл – 75 грн., матрас – 100 грн., ліжко – 150 грн;</li>
                <li>за повторний виїзд та/або збірку-монтаж Товару послуги оплачуються додатково згідно діючих тарифів;</li>
                <li>занесення  на 2 поверх і до 11 поверху включно - становить за кожен поверх кожна одиниця Товару – прямий диван – 100 грн, кутовий диван із секцією Алігатор – 125 грн., кутовий диван – 150 грн., П-образний диван –     200 грн., пуф, крісло-пуф – 50 грн., крісло – 75 грн., стіл – 75 грн., матрас –100 грн., ліжко – 150 грн.; занесення з  12 поверху і до 16 поверху здійснюється за подвійними тарифами.</li>
            </ul>
        </div>

        <div>
            <hr>
            <hr>
            <b>ТМ Індивідуал:</b>
            <ul>
                <li>вартість збірки-монтажу виробу: диван та ліжко – 350 грн; двоярусне дитяче ліжко – 300 грн., дитячий диван та ліжко – 250грн.;</li>
                <li>підйом меблів (окрім матрасів) через балкон або вікно, якщо це можливо - 1 поверх - 200 грн., 2 поверх - 300 грн;-  у випадку не можливості під’їзду вантажного транспорту до вхідних дверей будинку, додатково оплачується ручний занос по прибудинковій території до під’їзду за погодженням із монтажною бригадою під час збірки-монтажу Товару;</li>
                <li> збірка-монтаж Товару та занесення/знесення Товару за умови наявності справного вантажного ліфту у будинку – за виріб вцілому: прямий диван – 100 грн, кутовий диван із секцією Алігатор – 125 грн., кутовий диван – 150 грн., П-образний диван – 200грн., пуф, крісло-пуф – 50грн., крісло – 75грн., стіл – 75грн., матрас –100грн., ліжко – 150грн;</li>
                <li>за повторний виїзд та/або збірку-монтаж Товару послуги оплачуються додатково згідно діючих тарифів;</li>
                <li>занесення на 2 поверх і до 11 поверху включно - становить за кожен поверх кожна одиниця Товару – прямий диван – 100 грн, кутовий диван із секцією Алігатор – 125 грн., кутовий диван – 150 грн., П-образний диван –     200 грн., пуф, крісло-пуф – 50грн., крісло – 75грн., стіл – 75грн., матрас –100грн., ліжко – 150грн.; занесення з 12 поверху і до 16 поверху здійснюється за подвійними тарифами.</li>
            </ul>
        </div>
        <hr>
        <hr>
    </div>
</div>
<footer class="end">
    <span><b>Інтернет-магазин меблів «Blest» © 2023</b></span>
</footer>
</body>
</html>