<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="stylesheet" href="style.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="main-menu">
    <nav>
        <a href="/about">|| Про нас ||</a>
        <a href="/contacts"> Контакти ||</a>
        <a href="/payment-and-delivery"> Оплата та доставка ||</a>
        <a href="/guarantees"> Гарантії ||</a>
    </nav>
</header>
<div class="margin">
    <ul class="menu">
        <li><a>Каталог товарів</a>
            <ul>
                <li><a th:href="@{/sofas/прямі}">Дивани прямі</a></li>
                <li><a th:href="@{/sofas/кутові}">Дивани кутові</a></li>
                <li><a th:href="@{/sofas/модульні}">Дивани модульні</a></li>
            </ul>
        </li>
        <li class="number"><a>+38(066) 000 00 00</a>
            <ul>
                <li><a>+38(096) 000 00 00</a></li>
            </ul>
        </li>
    </ul>

    <div class="news">
        <img src="https://blest.ua/upload/iblock/ead/v3bt0wi8r9ffg90yizk97hsqus6xy3cr.webp">
        <article>
            <hr>
            <h3>Відновлюємо роботу</h3>
            <hr>
            <p>Dear friends!</p>
            <p>The BLEST company is gradually returning to its work. We establish relationships with suppliers of
                materials,
                components and fabrics, and also sell ready-made upholstered furniture from warehouses.</p>
            <p>Currently, in Kyiv, you can get a comprehensive consultation and order furniture using our online
                store.</p>
            <p>🌐 Get to know the assortment on the website blast.ua, video reviews of sofas and beds are also available
                there. For your convenience, an augmented reality service is available on the website, thanks to which
                you
                can "try on" different models of sofas and beds in the space of your interior via a smartphone.</p>
            <p>📍As of today, BLEST branded stores operate in the following cities:</p>
            <ul>
                <li>Kyiv (Online store)</li>
                <li>Odesa</li>
                <li>Lviv</li>
                <li>Dnipro</li>
                <li>Cherkasy</li>
                <li>Lutsk</li>
                <li>Rivne</li>
                <li>Ternopil</li>
                <li>Ivano-Frankivsk</li>
                <li>Kropyvnytskyi</li>
                <li>Khmelnytskyi</li>
                <li>Chernivtsi</li>
                <li>Uzhhorod</li>
                <li>Zhytomyr</li>
                <li>Varash</li>
                <li>Kovel</li>
                <li>Reduce</li>
                <li>Ishmael</li>
                <li>Lubny</li>
                <li>Kremenchuk</li>
            </ul>
            <p>Leave your requests through the BLEST Facebook page or contact the BLEST online store and we will process
                your requests.
                Restoring the rhythm of life, together we bring VICTORY!</p>
            <hr>
        </article>
    </div>
</div>
<footer class="end">
    <span><b>Інтернет-магазин меблів «Blest» © 2023</b></span>
</footer>
</body>
</html>